div.map-associative-element {
  padding: 0 5px;
  border: 1px solid #c0c0c0;
}

.map-associative--value,
.map-associative--key {
  margin-left: 5px;
}

@media all and (min-width: 886px) {
  div.map-associative-element {
    display: flex;
    border: none;
  }
  .map-associative--key {
    margin-left: 0;
  }
}
